<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>MYSTERY WORD APP: Lame</title>
   </head>
   <body>
      <div id="body-wrap">
         <h1> SEE YOU LATER. </h1>
      </div>
   </body>
</html>
