<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" src="styles.css">
      <title>MYSTERY WORD APP: Game</title>
   </head>


   <body>
      <div id="body-wrap">
         <div id="title-container">
            <h2>Mystery Word</h2>
         </div>
         <div id="guess-count-container">
            <h3 id="guess-count">You have {{guessCount}} guesses left!</h3>
         </div>

         <div id="rand-word">
            {{randWordArr}}

            <!-- {{#randWordArr}}
            {{#match}}<p class="match"></p>{{/match}}
            {{/randWordArr}} -->

            <!--maybe like this?  -->
            <!-- {{#randWordArr}}
            {{letter}}<div class="letters">{{lett}}</div>{{letter}}
            {{/randWordArr}} -->

            <!-- have little divs rendered here for each correct letter?-->
         </div>

         <div id="matchbox"></div>



         <div class="form-container">
            <form method="post" action="/play" id="guess-form">
               <input type="text" name="letter" maxlength="1">
               <button type="submit" value="submit">SUBMIT</button>
            </form>
         </div>




         <h3> Letters guessed: </h3>
         <div class="letter-graveyard"></div>
         <!-- or -->
         <!-- <output name="letters-guessed" for="guess"></output> -->

            <!-- should this be an <output> for the form input? -->
            <!-- remember! can adjust innerHTML of a div!-->




   </body>
</html>
