<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" src="styles.css">
      <title>MYSTERY WORD APP: Welcome</title>
   </head>
   <body>
      <div id="body-wrap">
         <h1> WELCOME </h1>
         <h3>IT'S GAME TIME</h3>
         <form method="POST" action="/" id="welcome-game">
            <input type="submit" id="imGame" value="I'M GAME">
         </form>
         <form method="POST" action="/lame" id="welcome-lame">
            <input type="submit" id="imLame" value="I'M LAME">
         </form>
      </div>
   </body>
</html>
